<div class="p-5 mb-4 bg-body-tertiary rounded-3">
  <%= form_with(model: invoice, id: "new_invoice_form", class: 'row g-3') do |form| %>
    <% if invoice.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

        <ul>
          <% invoice.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="col-md-3">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>
    <div class="col-md-3">
      <%= form.label :status, class: 'form-label' %>
      <%= form.select :status, Invoice.statuses.keys.map{ |w| [w.humanize, w]}, { prompt: 'Select Status' }, {class: 'form-select'} %>
    </div>
    <div class="col-md-3">
      <%= form.label :due_date, class: 'form-label' %>
      <%= form.date_field :due_date, class: 'form-control' %>
    </div>
    <div class="col-md-3">
      <%= form.label :payment_date, class: 'form-label' %>
      <%= form.date_field :payment_date, class: 'form-control' %>
    </div>

    <div class="col-12">
      <div data-controller="invoice" class= "invoice-line-items">
        <%= form.label :product_id, 'Line Items', class: 'form-label' %>
        <%= select_tag :product_id, grouped_options_for_select(categories),
          class: 'form-select',
          prompt: 'Select Line Item',
          multiple: true,
          data: {invoice_target: 'product'},
          id: 'product_id' %>
        
        <div class="row">
          <div class="col-md-6">
            <%= form.label :item_name, class: 'form-label' %>
          </div>  

          <div class="col-md-2">
            <%= form.label :quantity, class: 'form-label' %>
          </div>  

          <div class="col-md-2">
            <%= form.label :unit_rate, class: 'form-label' %>
          </div>

          <div class="col-md-2">
            <%= form.label :unit, class: 'form-label' %>
          </div>
        </div>

        <div id="line_item">
        </div>

        <% invoice.line_items.each do |line_item| %>
          <%= render partial: 'line_item_fields', locals: { line_item: line_item } %>
        <% end %>
      </div>
    </div>
    
    <div class="col-12">
      <%= form.label :note, class: "form-label" %>
      <%= form.text_area :note, class: 'form-control' %>
    </div>

    <div>
      <%= form.submit class: "btn btn-primary"%>
    </div>
  <% end %>
</div>
