<div id="<%= dom_id invoice %>">
  <p>
    <strong>User:</strong>
    <%= invoice.user_id %>
  </p>

  <p>
    <strong>Line items count:</strong>
    <%= invoice.line_items_count %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= invoice.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= invoice.status %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= invoice.total %>
  </p>

  <p>
    <strong>Sub total:</strong>
    <%= invoice.sub_total %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= invoice.note %>
  </p>

  <p>
    <strong>Payment date:</strong>
    <%= invoice.payment_date %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= invoice.due_date %>
  </p>

  <p>
    <strong>Line Item:</strong>
    <ol>
      <% invoice.line_items.each do |line_item| %>
        <li>
          <%= line_item.item_name %> | <%= line_item.quantity %> | <%= line_item.unit_rate %>
        </li>
      <% end %>
    </ol>
  </p>

</div>
