<% current_time = Time.now %>
<% line_it = [] %>
<% line_it << line_item_fields %>
<%= fields_for "invoice[line_items_attributes][#{line_item_fields.persisted? ? line_item_fields.id : line_item_fields.object_id}]", line_item_fields do |form|%>
  <%= puts current_time%>
  
  <% if line_it.count == 1 %>

    <div class="row" data-invoice-target="lineitem">
        <div class="col-md-3">
          <%= form.label :item_name, class: 'form-label' %>
          <%= form.text_field :item_name, class: "form-control" %>
        </div>  

        <div class="col-md-3">
          <%= form.label :quantity, class: 'form-label' %>
          <%= form.number_field :quantity, class: "form-control" %>
        </div>  

        <div class="col-md-3">
          <%= form.label :unit_rate, class: 'form-label' %>
          <%= form.number_field :unit_rate, class: "form-control" %>
        </div>

        <div class="col-md-3">
          <%= form.label :unit, class: 'form-label' %>
          <%= form.text_field :unit, class: "form-control" %>
        </div>

        </div>
          <%= form.hidden_field :product_id %>
        </div>
    </div>

  <% else %>
    <div class="row" data-invoice-target="lineitem">
        <div class="col-md-3">
          
          <%= form.text_field :item_name, class: "form-control" %>
        </div>  

        <div class="col-md-3">
          
          <%= form.number_field :quantity, class: "form-control" %>
        </div>  

        <div class="col-md-3">
          
          <%= form.number_field :unit_rate, class: "form-control" %>
        </div>

        <div class="col-md-3">
         
          <%= form.text_field :unit, class: "form-control" %>
        </div>

        </div>
          <%= form.hidden_field :product_id %>
        </div>
    </div>
  <% end %>
<% end %>

<div id="line_item_fields">
</div>
