<%= fields_for "invoice[line_items_attributes][#{line_item.persisted? ? line_item.id : line_item.hash}]", line_item do |form|%>
  <% presenter = FormPresenter.new(line_item, self, 'form-control') %>
  <% if line_item.persisted? %>
    <div class="row" data-invoice-target="lineitem" id="<%= dom_id(line_item) %>" data-params=<%= params %>>
  <% else %>
    <div class="row" data-invoice-target="lineitem" id="<%= line_item.hash %>" data-params=<%= params %>>
  <% end %>
  
    <div class="col-md-6">
      <%= form.text_field :item_name, presenter.input_field_options(:item_name, 'form-control') %>
      <%= presenter.error_container_for(:item_name) %>
    </div>  

    <div class="col-md-2">
      <%= form.number_field :quantity, presenter.input_field_options(:quantity, "form-control", data: {action: "change->invoice#handleInputChange" }) %>
      <%= presenter.error_container_for(:quantity) %>
    </div>  

    <div class="col-md-2">
      <%= form.number_field :unit_rate, class: "form-control", data: {action: "change->invoice#handleInputChange" } %>
    </div>

    <div class="col-md-2">
      <%= form.text_field :unit, class: "form-control" %>
    </div>

    <%= form.hidden_field :product_id %>
    <%= form.hidden_field :id %>
  </div>
<% end %>

<div id="line_item">
</div>
