<%= fields_for "invoice[line_items_attributes][#{line_item.persisted? ? line_item.id : line_item.hash}]", line_item do |form|%>

  <div class="row" data-invoice-target="lineitem" id="<%= dom_id(line_item,line_item.hash ) %>" >
    <div class="col-md-8">
      <%= form.text_field :item_name, class: "form-control" %>
    </div>  

    <div class="col-md-1">
      <%= form.number_field :quantity, class: "form-control", data: {action: "change->invoice#handleInputChange" } %>
    </div>  

    <div class="col-md-1">
      <%= form.number_field :unit_rate, class: "form-control", data: {action: "change->invoice#handleInputChange" } %>
    </div>

    <div class="col-md-1">
      <%= form.text_field :unit, class: "form-control" %>
    </div>

    <%= form.hidden_field :product_id %>
    <%= form.hidden_field :id %>

    <div class="col-md-1 text-end">
      <%= link_to "Delete", delete_line_items_invoices_path(line_item_id: line_item.persisted? ? line_item.id : line_item.hash), data: {turbo_method: :delete}, class: "btn btn-sm btn-danger" %>
    </div>
  </div>
<% end %>

<div id="line_item">
</div>
