<%= form_with(model: tax_and_discount) do |form| %>
  <% if tax_and_discount.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tax_and_discount.errors.count, "error") %> prohibited this tax_and_discount from being saved:</h2>

      <ul>
        <% tax_and_discount.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="row mb-2">
    <div class="col">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="col">
      <%= form.label :description, class: "form-label" %>
      <%= form.text_area :description, class: "form-control" %>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col">
      <%= form.label :td_type, class: "form-label" %>
      <%= form.select :td_type, TaxAndDiscount.td_types.keys.map{ |w| [w.humanize, w]}, { prompt: 'Select td' }, {class: 'form-select'} %>
    </div>

    <div class="col">
      <%= form.label :tax_type, class: "form-label" %>
      <%= form.select :tax_type, TaxAndDiscount.tax_types.keys.map{ |w| [w.humanize, w]}, { prompt: 'Select tax/discount' }, {class: 'form-select'} %>
     </div>

    <div class="col">
      <%= form.label :amount, class: "form-label" %>
      <%= form.text_field :amount, class: "form-control" %>
    </div>
  </div>

  <div class="col">
    <%= form.submit class: "btn btn-primary" %>
  </div>
  
<% end %>


