<div id="<%= dom_id tax_and_discount %>">
  <p>
    <strong>Name:</strong>
    <%= tax_and_discount.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tax_and_discount.description %>
  </p>

  <p>
    <strong>Td type:</strong>
    <%= tax_and_discount.td_type %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= tax_and_discount.amount %>
  </p>

  <p>
    <strong>Belongs to:</strong>
    <%= tax_and_discount.belongs_to %>
  </p>

  <p>
    <strong>User:</strong>
    <%= tax_and_discount.user %>
  </p>

</div>
