<p style="color: green"><%= notice %></p>

<%= render @tax_and_discount %>

<div>
  <%= link_to "Edit this tax and discount", edit_tax_and_discount_path(@tax_and_discount) %> |
  <%= link_to "Back to tax and discounts", tax_and_discounts_path %>

  <%= button_to "Destroy this tax and discount", @tax_and_discount, method: :delete %>
</div>
