<%= turbo_stream.update "subtotal" do %>
  <p>Subtotal: <%= number_to_currency(@sub_total) %></p>
<% end %>

<%= turbo_stream.update "total" do %>
  <p>Total: <%= number_to_currency(@total) %></p>
<% end %>

<%= turbo_stream.update "tax_or_discount" do %>
  <% tax_total, discount_total = @tax_or_discount %>
  <% if tax_total.present? && tax_total > 0 %>
    <p>Tax: <%= number_to_currency(tax_total) %></p>
  <% end %>

  <% if discount_total.present? && discount_total < 0 %>
    <p>Discount: <%= number_to_currency(discount_total) %></p>
  <% end %>
<% end %>
