<div id="<%= dom_id category %>">
  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= category.user_id %>
  </p>

  <p>
    <strong>Product count:</strong>
    <%= category.product_count %>
  </p>

  <p>
    <strong>Belongs to:</strong>
    <%= category.belongs_to %>
  </p>

  <p>
    <strong>User:</strong>
    <%= category.user %>
  </p>

</div>
