<%= form_with(model: category) do |form| %>
  <% presenter = FormPresenter.new(category, self, 'form-control') %>
  <div class="card-body border-top p-9">
    <div class="row mb-6">
      <%= presenter.label(:name, 'form-label') %>
      <div class="col-lg-8 fv-row">
        <%= form.text_field :name, presenter.field_options(:name, 'form-control') %>
        <%= presenter.error_container_for(:name) %>
      </div>
    </div>

    <div class="row mb-6">
      <%= presenter.label(:product_count, 'form-label') %>
      <div class="col-lg-8 fv-row">
        <%= form.number_field :product_count, presenter.field_options(:product_count) %>
        <%= presenter.error_container_for(:product_count) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= form.submit "Save", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
