<%= form_with(model: product) do |form| %>
  <% presenter = FormPresenter.new(product, self, 'form-control') %>
  <div class="row mb-3">
    <div class="col">
      <%= presenter.label(:name, 'form-label') %>
      <%= form.text_field :name, presenter.input_field_options(:name, 'form-control') %>
      <%= presenter.error_container_for(:name) %>
    </div>

    <div class="col">
      <%= form.label :description, class: "form-label" %>
      <%= form.text_area :description, class: "form-control" %>
    </div>

    <div class="col">
      <%= form.label :unit_rate, class: "form-label" %>
      <%= form.text_field :unit_rate, class: "form-control" %>
    </div>

    <div class="col">
      <%= presenter.label(:category_id, 'form-label') %>
      <%= form.select :category_id, options_for_select(current_user.categories.map { |category| [category.name, category.id ] }), {prompt: "select category"}, presenter.input_field_options(:category_id, 'form-select') %>
      <%= presenter.error_container_for(:category_id) %>
    </div>

    <div class="col">
      <%= form.label :unit, class: "form-label" %>
      <%= form.text_field :unit, class: "form-control" %>
    </div>
  </div>

  <div class="col">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>

<%= product.errors[:category_id].inspect %>
