<div id="<%= dom_id line_item %>">
  <p>
    <strong>Item name:</strong>
    <%= line_item.item_name %>
  </p>

  <p>
    <strong>Unit rate:</strong>
    <%= line_item.unit_rate %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= line_item.quantity %>
  </p>

  <p>
    <strong>Invoice:</strong>
    <%= line_item.invoice_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= line_item.invoice_id %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= line_item.unit %>
  </p>


</div>
