<!DOCTYPE html>
<html>
  <head>
    <title>Invoicing</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>

    <header class="p-3 mb-3 border-bottom">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
          </a>
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a  href="/" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="/categories" class="nav-link px-2 link-body-emphasis">Categories</a></li>
            <li><a href="/invoices" class="nav-link px-2 link-body-emphasis">Invoices</a></li>
            <li><a href="/products" class="nav-link px-2 link-body-emphasis">Products</a></li>
            <li><a href="/tax_and_discounts" class="nav-link px-2 link-body-emphasis">Tax and discounts</a></li>
          </ul>
            <div class="dropdown text-end">
              <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/Azher9767.png" alt="mdo" width="32" height="32" class="rounded-circle">
              </a>
              <ul class="dropdown-menu text-small">
                <% if user_signed_in? %>
                 <li><%= link_to current_user.email, edit_user_registration_path %></li>
                <% end %>

                <li><hr class="dropdown-divider"></li>
                
                <% if user_signed_in? %>
                  <li class="nav-item">
                  <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link active" %>
                  </li>
                <% else %>

                  <li class="nav-item">
                  <%= link_to "Log in", new_user_session_path, class: "nav-link active"%>
                  </li>

                  <li class="nav-item">
                  <%= link_to "Register", new_user_registration_path, class: "nav-link active" %>
                  </li>
                <% end %>
              </ul>
            </div>
        </div>
      </div>
    </header>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    </div>
  </body>
</html>
